<h2>LOGIN</h2>
<h5>Elegi el metodo para iniciar sesion</h5>
<button onclick="location.href='/api/local'">Local</button>
<button onclick="location.href='/api/users/register-github'">GITHUB</button>
<button onclick="location.href='/api/jwt'">JWT</button>

<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/api/register'">Ir a registro</button>